.wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 10px;
    padding-bottom: 30px;
    border-bottom: 5px solid #F2613F;
    align-items: start;
}

.header-ctn1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.input-person-details {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.header-ctn2 {
    display: flex;
    gap: 15px;
}

/* EDIT VIEW */

.input-name {
    font-size: 35px;
    border-radius: 5px;
}

.input-add,.input-ph,.input-email {
    font-size: 18px;
    border-radius: 5px;
}

/* ************** */

/* PREVIEW VIEW */

h1 {
    font-family: titleFont;
    text-transform: uppercase;
    font-size: 35px;
}

h2 {
    font-family: titleFont;
    font-size: 18px;
    color: #a6a6a6;
}

.header-ctn1 > h1 {
    margin-right: auto;
}

/* ************** */

.toggle-btn,.print-btn {
    background-color: #F2613F;
    font-size: inherit;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 650px){
    .input-name {
        font-size: 21px;
    }
    .input-email,.input-add,.input-ph {
        font-size: 16px;
    }
    h1 {
        font-size: 21px;
    }
    h2 {
        font-size: 16px;
    }
    body {
        font-size: 14px;
    }
    .toggle-btn > img,.print-btn > img {
        width: 20px;
    }
}

@media (max-width: 460px){
    .wrapper {
        grid-template-columns: 1fr;
    }
}